body {
    background-image: url("https://www.containerstore.com/catalogimages/320836/KT_17_Pantry_AD_V1_R122016.jpg?width=1200&height=1200&align=center");
    background-repeat: no-repeat;
    background-size: cover;  
    }

    #display-recipe a {
        color: #000000;
        text-decoration: none;
    }
    
    #display-recipe a:hover 
    {
         color:#999696; 
         text-decoration:none; 
         cursor:pointer;  
    }

#title-jumbo {
    background-color:#EEE2DC;
    opacity: 0.95;
    font: white;

}

#ingredient-info {
    background-color: #EEE2DC;
    opacity: 0.95;
}

.page-title {
    color: #123C69;
    font-family: 'Muli', sans-serif;
    text-align: center;
    font-weight: bold;
}

#PgSubtitle {
    font-family: 'Muli', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #AC3B61;
}

#display-recipe {
    overflow: scroll;
}

#submitbtn {
    color: white;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    background-color: #123C69;
    
}

.icon-img  {
    width: 100px;
    height: 100px;
    opacity: 0.95;
}

.card {
    width: 100%;  
}

.ingredButtons {
    background-color: #AC3B61;
    opacity: 1;
    margin-right: 15px;
    color: white;
    font-family: 'Muli', sans-serif;
    margin-bottom: 10px;
}

.select-form, .site-cards {
    opacity: 1;
    background-color: white;
    padding: 20px;

}

#ingredients-lbl {
    font-weight: bold;
}

#add-ingredients-btn {
    margin-bottom: 20px;
    background-color: #123C69;
    font-family: 'Muli', sans-serif;
}

#recipe-display {
    background-color: #EEE2DC;
}