body {
    background-image: url("https://www.containerstore.com/catalogimages/320836/KT_17_Pantry_AD_V1_R122016.jpg?width=1200&height=1200&align=center");
    background-repeat: no-repeat;
    background-size: cover;  
    }



.jumbotron {
    /* background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;   */

    opacity: 0.80;
}

#PgTitle, #PgSubtitle {
    color: black;
    font-family: 'Vollkorn', serif;
    text-align: center;
}


#submitbtn {
    color: white;
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    /* text-shadow: black; */
}

.card-text{
    font-family: 'Vollkorn', serif;
    color: black;
}

.icon-img  {
    width: 100px;
    height: 100px;
    opacity: 0.80;
}

.card {
    width: 100%;
}

.ingredButtons {
    background-color: teal;
}